/* Leftmenu.css */

.leftMenu {
    width: 400px; /* Increased width */
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.22);
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoContainer img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .logoContainer h3 {
    color: rgb(198, 194, 194);
    font-size: 3.5rem;
  }
  
  .searchbox {
    margin-top: 20px;
    background-color: #928b8b;
    border-radius: 5px;
    padding: 10px;
    height: 60px;
    width: 350px;
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
  }
  
  .menu-item:hover {
    background-color: #f0f0f02a; /* Background color on hover */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Subtle shadow on hover */
  }
  
  .menu-item img {
    width: 80px; /* Icon size */
    height: 80px;
    margin-right: 15px; /* Increased margin for spacing */
    border-radius: 15%;
    padding: 5px;
  }
  
  .menu-item .item-info {
    flex-grow: 1;
  }
  
  .menu-item p {
    margin: 0;
    font-size: 16px; /* Font size */
  }
  
  /* Optional: Add more styles for the sidebar and menu items */
  
  /* Sidebar.css */
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    background: linear-gradient(to bottom, #000000, #1e1e1e); /* Gradient background */
    color: #fff; /* Text color */
    width: 600px; /* Increased width */
    height: 100vh; /* Full height */
    padding: 20px; /* Padding for content */
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .sidebar-btn {
    display: block;
    width: 30;
    padding: 10px;
    margin-bottom: 10px;
    background-color: grey;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
  }
  
  .sidebar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .menu-items {
    margin-top: 20px;
    overflow-y: auto;
  }
  
  .menu-items h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .searchbox {
    margin-top: 20px;
    background-color: #928b8b;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .searchbox::placeholder {
    color: #fff; /* Placeholder text color */
    opacity: 0.7; /* Placeholder opacity */
  }
  

  .menu-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove default underline */
  }
  
  .menu-image {
    margin-right: 10px; /* Add space between image and text */
  }
  .item-info{
    display:inline;
    
  }